!!! 5
%html
    %head
        %title MinetworkMonitor
        %link{:href => "//fonts.googleapis.com/css?family=Asap:400,700", :rel => "stylesheet"}
        %link{:href => "/assets/application.css", :rel => "stylesheet"}
        %script{:src => "/assets/application.js"}
    %body
        #wrap
            .container
                .page-header
                    %h1 Header
                %p.lead Testing
                = yield
            #push
        #footer
            .container
                %p.muted.credit Made with <3 by MonsieurApple
