!!! 5
%html
    %head
        %title MinetworkMonitor
        %link{:href => "//fonts.googleapis.com/css?family=Asap:400,700", :rel => "stylesheet"}
        %link{:href => "/assets/application.css", :rel => "stylesheet"}
        %script{:src => "/assets/application.js"}
    %body
        .container#header
        = yield
        %footer
            .container
                .pull-left
                    &copy; Copyright 2013 MonsieurApple
